<p>Ciao! My name is Luigi Mario and I am the proprietor of one of the few remaining Olde World Italian Market's in the Greater Portland area. My brother Mario and I are very proud of our family-owned gourmet market and we'd love for you to come check us out.</p>



<p>To do:</p>
<ul>
  <li>page should also include the three most recently added products </li>
</ul>



<hr>

<% if @most_reviews.any? %>
<h4>Our product with the most reviews:</h4>

<ul>
  <% @most_reviews.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product.id) %>
  </li>
  <% end %>
</ul>
<% else %>
<p>There is currently no product with the most reviews.</p>
<% end %>

<hr>

<% if @most_recent_products.any? %>
<h4>Our 3 most recent products:</h4>

<ul>
  <% @most_recent_products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product.id) %> | added on <%= product.created_at %>
  </li>
  <% end %>
</ul>
<% else %>
<p>There is currently no recent products.</p>
<% end %>

<hr>
